form#callback-form.callback-form.mfp-hide.white-popup-block
	.callback-form__title.text-center МЫ ПЕРЕЗВОНИМ ВАМ!
	.callback-form__body
		input(type="text", name="name" placeholder="ФИО")
		input(type="text", name="phone" placeholder="Телефон")
		input(type="text", name="email" placeholder="E-mail")
	button.button.button--bold.button--animated(type="submit") Перезвоните мне