section.collective.sect-gray.lined
	.container.no-paddings
		.title-wrapper
			h2.text-left Наш коллектив

			.slider-handlers
				.slider-prev
					+icon('chev-left')
				.slider-next
					+icon('chev-right')

	.container.no-paddings.rel
		.section-side
			.section-side__name коллектив
			.section-side__line
		.collective-slider
			.collective-slider__slide.collective-item
				img(src="img/collective/coll-03.jpg", alt="alt")
				.collective-item__name Мария Богданова
				.collective-item__post Менеджер
			
			.collective-slider__slide.collective-item
				img(src="img/collective/coll-04.jpg", alt="alt")
				.collective-item__name Наталья Попова
				.collective-item__post Начальник отдела продаж
			
			.collective-slider__slide.collective-item
				img(src="img/collective/coll-05.jpg", alt="alt")
				.collective-item__name Татьяна Чеснокова
				.collective-item__post Главный бухгалтер
			
			.collective-slider__slide.collective-item
				img(src="img/collective/coll-06.jpg", alt="alt")
				.collective-item__name Елена Парчук
				.collective-item__post Снабженец
			
			.collective-slider__slide.collective-item
				img(src="img/collective/coll-06.jpg", alt="alt")
				.collective-item__name Елена Парчук
				.collective-item__post Снабженец
