section.delivery-features
	.cover
	.container.no-paddings
		p Бесплатная доставка по РФ, при стоимости товара от 20 000 рублей

		p Бесплатная доставка до транспортной компании небольших тиражей

		p Доступная доставка в Казахстан (от 3 700 тнг) и РБ (от 22 бр)

		p Доставка по ЕВРАЗЭС и всему Миру
		p Отгрузка товара из г. С-Петербург