section.fabrication.rel
	.section-side
		.section-side__name производство
		.section-side__line
	.container
		.title-wrapper
			h2 На нашем производстве полного цикла мы изготавливаем для вас более 10 млн. ароматизаторов в машину на заказ в год.
			p.sect-descr
				| Постоянная модернизация оборудования и оттачивание технологии производства на всех этапах позволяет нам повышать производительность и качество конечного продукта. Благодаря этому мы можем вам предложить освежители для машины с логотипом  европейского качества по выгодной цене.
		
	.container.no-paddings
		
		
		.fabrication-left
			.fabrication-slider
				.fabrication-slide(style="background-image: url(img/fabricate.jpg)")
				.fabrication-slide(style="background-image: url(img/fabricate.jpg)")
				.fabrication-slide(style="background-image: url(img/fabricate.jpg)")
			//- img(src="img/fabricate.jpg", alt="alt")

		.fabrication-right
			.fabrication-item
				+icon('clock')
				.fabrication-item__text Сроки изготовления заказа от 3-х дней.

			.fabrication-item
				+icon('ribbon')
				.fabrication-item__text Высокие стандарты качества и строгое соблюдение технологического процесса.

			.fabrication-item
				+icon('aroma')
				.fabrication-item__text Более 20 стойких ароматов на любой вкус.

			.fabrication-item
				+icon('forms')
				.fabrication-item__text Более 1500 готовых форм. Или любая форма под заказ

			.fabrication-item
				+icon('gears')
				.fabrication-item__text Новейшее оборудование, обеспечивающее максимальную автоматизацию производства 