section.guarantee.sect-gray(style="background-color: #F1F1F1;")
	.container
		h2 Гарантия качества продукции

	.container.no-paddings
		.guarantee-item
			header
				+icon('document')
				.guarantee-item__title Высококапиллярный #[span картон]

			p
				| Для наших автомобильных ароматизаторов с рекламой используется высококапиляный картон. Благодаря многослойной структуре материала аромат испаряется с него равномерно и постепенно в течение длительного времени.

		.guarantee-item
			header
				+icon('shop-labels')
				.guarantee-item__title Более 1500 бесплатных готовых форм

			p
				| На  нашем складе огромный выбор готовых форм (штампов, клише) для ароматизаторов в машину. Но даже если вы не найдете нужной, мы изготовим ее специально для вас.

		.guarantee-item
			header
				+icon('factory')
				.guarantee-item__title Мощная производственная база

			p
				| Наше производство ароматизаторов с рекламой имеет площадь более 3 000 кв. м, включает 7 упаковочных линий и более 50 единиц современного оборудования. На производстве задействовано более 50 квалифицированных специалистов.

		.guarantee-item
			header
				+icon('robot')
				.guarantee-item__title Современный подход в нанесении изображения

			p
				| Современное оборудование позволяет достичь высокого качества печати, в котором вы можете убедиться, запросив бесплатные образцы продукции.

		.guarantee-item
			header
				+icon('shopping-bag')
				.guarantee-item__title Индивидуальная #[span упаковка]

			p
				| Каждый ароматизатор имеет индивидуальную упаковку. Это обеспечивает герметичность и предохраняет товар от преждевременного выветривания.

		.guarantee-item
			header
				+icon('file')
				.guarantee-item__title Необходимая разрешающая документация

			p
				| У нас есть все документы для производства и продажи автомобильных освежителей воздуха, большой портфель патентов на технологии и товарные знаки.