section.how-to-order.sect-gray
	.container
		h2.text-center Как заказать?

	.container.no-paddings
		.how-to-order__item
			header
				.how-to-order__num 1
				.how-to-order__title Информация о вашем заказе

			p
				| Отправьте макет, соответствующий #[a(href="#") техническим требованиям] или просто описание задачи на электронный адрес, указанный в контактах. Мы объязательно поможем!

		.how-to-order__item
			header
				.how-to-order__num 2
				.how-to-order__title Ваши #[span реквизиты] 

			p
				| Укажите реквизиты для выставления Счёта (для физ. лиц Ф.И.О., номер и серию пасорта для ТК), контактный телефон.

		.how-to-order__item
			header
				.how-to-order__num 3
				.how-to-order__title Выставление #[span счета] 

			p
				| В свою очередь, мы отправляем Вам Счёт на оплату и Приложение к договору, в котором прописаны все нюансы заказа и макет.

		.how-to-order__item
			header
				.how-to-order__num 4
				.how-to-order__title Оплата #[span счета] 

			p
				| Вы оплачиваете Счёт, подписываете и отправляете обратно фотографическое или сканированное подписанное Приложение.

		.how-to-order__item
			header
				.how-to-order__num 5
				.how-to-order__title Выполнение заказа

			p
				| Заказ передается в работу и выполняется согласно подписанному техническому заданию.


		.how-to-order__item
			header
				.how-to-order__num 6
				.how-to-order__title Доставка

			p
				| Наши водители доставляют готовый Заказ в Транспортную компанию. Доставка до терминала транспортной компании в Вашем городе будет бесплатной, в случае если сумма Вашего заказа более 20,000 рублей.

		.how-to-order__item
			header
				.how-to-order__num 7
				.how-to-order__title Получение заказа

			p
				| Вам остается только получить заказ на складе Транспортной компании, там же Вы можете заказать доставку прямо в Ваш офис

		.how-to-order__item
			header
				.how-to-order__num 8
				.how-to-order__title Гарантии

			p
				| Мы гарантируем сохранение свойств вашего Заказа в течении 1 года с момента изготовления

	.container.no-paddings.how-to-order__button-wrap
		a(href="#").button.button--animated.button--bold Заказать


