section.main-slider
	.container
		.main-slider__handler
			.main-slider__prev
				+icon('chev-left')
			.main-slider__next
				+icon('chev-right')
	
	.main-slider__carousel
		.main-slider__slide
			.main-slider__slide-bg(style="background-image: url(img/bg_main-header.jpg)")
			.main-slider__slide-content
				.container.no-paddings
					.main-slider__block
						.main-slider__slide-title Автомобильный картонный ароматизатор с Вашим дизайном

						.main-slider__price от 6 рублей.

						a(href="#").button.button--bold.button--yellow Подробнее
							//- span.ink.animate

		.main-slider__slide
			.main-slider__slide-bg(style="background-image: url(img/bg_main-header.jpg)")
			.main-slider__slide-content
				.container.no-paddings
					.main-slider__block
						.main-slider__slide-title Автомобильный картонный ароматизатор с Вашим дизайном

						.main-slider__price от 6 рублей.

						a(href="#").button.button--bold.button--yellow Подробнее

		.main-slider__slide
			.main-slider__slide-bg(style="background-image: url(img/bg_main-header.jpg)")
			.main-slider__slide-content
				.container.no-paddings
					.main-slider__block
						.main-slider__slide-title Автомобильный картонный ароматизатор с Вашим дизайном

						.main-slider__price от 6 рублей.

						a(href="#").button.button--bold.button--yellow Подробнее