section.management.sect-gray
	.container.no-paddings
		.management-item.management-item--info
			h2.text-left Обращение руководства
			p Кстати у нас есть полезное видео на #[a(href="#") Youtube]
			p и мы делимся новостями #[a(href="#") Вконтакте]
			p следить за нами в #[a(href="#") Instagram]
			p #[a(href="#") Узнать больше]

			a(href="#").button.button--yellow.button--bold Написать директору

		.management-item.management-item--person
			.management__img-wrap
				img(src="img/collective/coll-01.jpg", alt="alt")
			.management-person
				.management-person__name Дмитрий Попов
				.management-person__post Генеральный директор
			p.management-quote
				| «Наша компания все время движется вперед. Сейчас мы обладаем достаточными знаниями, ресурсами и силами для того, чтобы не только совершенствоваться самим, но и менять рынок в целом».
		
		.management-item.management-item--person
			.management__img-wrap
				img(src="img/collective/coll-02.jpg", alt="alt")
			.management-person
				.management-person__name Сергей Мишенков
				.management-person__post Начальник производства
			p.management-quote
				| «Большиснтво процессов на производстве автоматизированы. Мы обновили парк оборудования, чтобы обеспечить высокое качество и скорость обработки заказов. Наша производительность сейчас превышает 25 000 ароматизаторов в день».
