section.portfolio.lined.rel
	.section-side
			.section-side__name портфолио
			.section-side__line
	.container.no-paddings
		.title-wrapper
			h2 Мы гордимся своими клиентами и своим портфолио
			p.sect-descr
				| Наше портфолио без слов говорит об отношении к любимому делу – производству ароматизаторов для авто. Более чем за 15 лет работы мы накопили не только бесценный опыт, изучив все тонкости производственного процесса, но и приобрели надежных партнеров в лице своих постоянных клиентов. Нам уже есть, чем гордиться, но мы не останавливаемся на достигнутом, продолжая совершенствоваться.

	.container

		.portfolio-slider
			.portfolio-slide
				img(src="img/portfolio/pfolio-1.jpg", alt="alt")
			.portfolio-slide
				img(src="img/portfolio/pfolio-2.jpg", alt="alt")
			.portfolio-slide
				img(src="img/portfolio/pfolio-3.jpg", alt="alt")
			.portfolio-slide
				img(src="img/portfolio/pfolio-4.jpg", alt="alt")
			.portfolio-slide
				img(src="img/portfolio/pfolio-5.jpg", alt="alt")


			.portfolio-slide
				img(src="img/portfolio/pfolio-1.jpg", alt="alt")
	
	.container.portfolio-links
		a(href="#").button.button--bold.button--yellow Посмотреть все наши работы и кейсы
		//- a(href="#").button.button--empty Посмотреть кейсы