section.price-term.sect-gray
	.container
		.title-wrapper
			h2 Цены и сроки
			p.text-center
				| Наши цены на ароматизаторы с рекламой для авто всегда выгодны для вас. Мы можем позволить себе предлагать вам самые интересные ценовый
				br
				| условия, благодаря собственным производственным ресурсам. Отлаженный процесс и выверенные технологии изготовления автомобильных
				br
				| ароматизаторов позволяют нам исполнять заказы в самые короткие сроки без потери качества. Конечно, сроки изготовления освежителей
				br 
				| воздуха в машину с логотипом и цены на них зависят от объема заказа. 

	.container.no-paddings
		.price-term__left
			.price-term__header Российский производитель –
				br
				| #[span конкурентные цены,] например:

			.price-term__body
				.price-term__row
					span 3 000 штук –
					span.price-term__price-val 13.50
					span.ruble Р
					span за шт

				.price-term__row
						span 15 000 штук –
						span.price-term__price-val 12.00
						span.ruble Р
						span за шт

				.price-term__row
						span 30 000 штук –
						span.price-term__price-val 10.50
						span.ruble Р
						span за шт

				.price-term__row
						span 50 000 штук –
						span.price-term__price-val 9.50
						span.ruble Р
						span за шт
				
				.price-term__row.nds *включая НДС
			
			.price-term__img
				img(src="img/products/price-aroma.png", alt="alt")
		
		.price-term__right
			.price-term__header Собственное производство, запатентованные
				br
				| технологии – #[span быстрые сроки изготовления:]

			.price-term__body
				.price-term__row
					span 5 000 штук –
					span.price-term__term-val 2-4 недели


				.price-term__row
					span 10 000 штук –
					span.price-term__term-val 2-5 недели

				.price-term__row
					span 30 000 штук –
					span.price-term__term-val 3-6 недель

				.price-term__row
					span 50 000 штук –
					span.price-term__term-val 4-7 недель

			.price-term__img
				img(src="img/products/price-patents.png", alt="alt")

	.container.price-term__text
		p.text-center
			| В стоимость включена вся упаковка и маркировка. 
			br
			| Все указанные цены являются ориентировочными и могут
			br
			| изменяться в зависимости от макета и условий договора