section.price
	.container
		.title-wrapper
			h2 Цены
			p.sect-descr
				| Постоянное внедрение инноваций в производстве, автоматизация рабочих процессов и работа с поставщиками #[span позволяют нам предлагать вам самые выгодные цены на освежители воздуха в машину с логотипом.]

			.price-special
				span Специальные условия для рекламных агенств
				span.price-sale.grad скидка #[span 7%]

	.container
		.price__table-wrap
			table

				tr
					th
						span Количество
						| штук

					th
						span Стоимость, #[span.ruble Р]
						| за 1 штуку, вкл. НДС

					th
						span Индивидульная
							br
							| форма (штамп)
						| более 1 500 готовых форм

					th
						span Срок изготовления
						| рабочих дней

				tbody
					tr
						td 25
						td 160
						td 5 000*
						td от 3
					tr
						td 50
						td 125
						td 5 000*
						td от 3
					tr
						td 100
						td 64
						td 5 000*
						td от 3
					tr
						td 250
						td 32 - 
							| #[span.price-table__red 18] #[span.ruble Р] #[span.price-table__red Акция!]
						td 5000*
						td от 3
					tr
						td 500
						td 18 - 
							| #[span.price-table__red 16] #[span.ruble Р] #[span.price-table__red Акция!]
						td 5 000*
						td от 3

					tr
						td 1000
						td 13,5
						td 5 000*
						td от 3
					tr
						td 3 000
						td 11,5
						td 5 000*
						td от 4
					tr
						td 5 000
						td 10
						td Бесплатно
						td от 7
					tr
						td 10 000
						td 10
						td Бесплатно
						td от 8
					tr
						td 20 000
						td 8,5
						td Бесплатно
						td от 10
					tr
						td 50 000
						td 7,5
						td Бесплатно
						td от 12
					tr
						td 50 000
						td 7
						td Бесплатно
						td от 15
					tr
						td от 100 000
						td Договорная
						td Бесплатно
						td от 17
					tr.price-table__last
						td
						td 
							a(href="#") Заказать
						td 
							a(href="#") *Скачать готовые формы
						td
							a(href="#") Заказать

		.price-note *Цены указаны в рублях РФ