section.proposal.lined.rel
	.section-side
		.section-side__name продукция
		.section-side__line
	
	.container.no-paddings
		.title-wrapper
			h2 Мы готовы вам предложить
			p.sect-descr
				| Действенный и оригинальный способ продвижения вашего бизнеса – ароматизаторы в машину с логотипом. Превратив обычный освежитель «елочку» в инструмент рекламы,
				br
				| Вы сможете закрепиться в сознании клиента не только на зрительном, но и на обонятельном уровне. Согласитесь, довольно заманчиво создать устойчивую
				br
				| приятную ассоциацию со своей маркой еще до знакомства с клиентом? Смеем вас заверить, что это не только заманчиво, но и эффективно.
				br
				| Для этого существуют освежители для машины с логотипом.
	.container.no-paddings
		
		.product-item
			.product-item__img
				img(src="img/products/prod-1.jpg", alt="alt")
			
			.product-item__title Рекламные ароматизаторы
				br
				| для авто

			p.product-item__descr
				| Картонные ароматизаторы с полноцветной печатью от 6 рублей. Выглядит как привычный
				br
				| всем освежитель «елочка» для авто.
				br
				| Более 1500 готовых форм.

			a(href="#").button.button--bold.button--animated Заказать

		.product-item
			.product-item__img
				img(src="img/products/prod-2.jpg", alt="alt")
			
			.product-item__title Серийные
				br
				| ароматизаторы

			p.product-item__descr
				| Вы можете приобрести готовые высококачественные автомобильные ароматизаторы с любым ароматом
				br
				| по выгодной цене

			a(href="#").button.button--bold.button--animated Купить

		.product-item
			.product-item__img
				img(src="img/products/prod-3.jpg", alt="alt")
			
			.product-item__title Ароматизаторы с собственной торговой маркой

			p.product-item__descr
				| С помощью освежителей для машины
				br
				| с логотипом от 8 рублей вы можете
				br 
				| расширить линейку собственных продуктов
				br
				| и повысить узнаваемость своего бренда. 

			a(href="#").button.button--bold.button--animated Заказать