section.reviews
	.container.no-paddings
		h2 Отзывы
	
		.reviews-item
			img(src="img/reviews/rev-1.jpg", alt="alt")
		.reviews-item
			img(src="img/reviews/rev-2.jpg", alt="alt")
		.reviews-item
			img(src="img/reviews/rev-3.jpg", alt="alt")
		.reviews-item
			img(src="img/reviews/rev-4.jpg", alt="alt")
