section.video
	.container.rel
		.video-text
			.video-title Автомобильный картонный ароматизатор с Вашим дизайном
			.video-price от 6 рублей.

			a(href="#").button.button--bold.button--yellow Подробнее

		img(src="img/icons/play.png", alt="alt").video-play