extends _misc/main-no-green

block title
	| Главная страница

block content
	include _sections/_index-slider
	include _sections/_proposal
	include _sections/_portfolio
	include _sections/_map
	include _sections/_management
	include _sections/_collective
	include _sections/_docs
	include _sections/_fabrication
	include _sections/_overal-questions