.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-align-center {
	font-size:(14/10)*1rem;
	width:(20/14)*1em;
}
.icon-align-left {
	font-size:(14/10)*1rem;
	width:(20/14)*1em;
}
.icon-align-right {
	font-size:(14/10)*1rem;
	width:(20/14)*1em;
}
.icon-aroma {
	font-size:(34.322/10)*1rem;
	width:(34.322/34.322)*1em;
}
.icon-bill {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-budget {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-cart {
	font-size:(484.174/10)*1rem;
	width:(512/484.174)*1em;
}
.icon-checkmark {
	font-size:(160/10)*1rem;
	width:(226/160)*1em;
}
.icon-chev-down {
	font-size:(96/10)*1rem;
	width:(160/96)*1em;
}
.icon-chev-down-constr {
	font-size:(8/10)*1rem;
	width:(13/8)*1em;
}
.icon-chev-left {
	font-size:(135/10)*1rem;
	width:(91/135)*1em;
}
.icon-chev-right {
	font-size:(135/10)*1rem;
	width:(91/135)*1em;
}
.icon-clipboard {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-clock {
	font-size:(512.003/10)*1rem;
	width:(458.009/512.003)*1em;
}
.icon-close-main {
	font-size:(29/10)*1rem;
	width:(29/29)*1em;
}
.icon-constr-arrow {
	font-size:(8/10)*1rem;
	width:(34/8)*1em;
}
.icon-constr-close {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-document {
	font-size:(512/10)*1rem;
	width:(402/512)*1em;
}
.icon-down-arrow {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-factory {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-file {
	font-size:(512/10)*1rem;
	width:(420/512)*1em;
}
.icon-fon-bold {
	font-size:(10/10)*1rem;
	width:(9/10)*1em;
}
.icon-font-italic {
	font-size:(10/10)*1rem;
	width:(8/10)*1em;
}
.icon-formcheck {
	font-size:(13/10)*1rem;
	width:(19/13)*1em;
}
.icon-forms {
	font-size:(22.927/10)*1rem;
	width:(25.745/22.927)*1em;
}
.icon-forms-select {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-forward-arrow {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-gears {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-help {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-image {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-info {
	font-size:(512/10)*1rem;
	width:(228/512)*1em;
}
.icon-parfume {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-ribbon {
	font-size:(464/10)*1rem;
	width:(384.009/464)*1em;
}
.icon-robot {
	font-size:(512/10)*1rem;
	width:(286/512)*1em;
}
.icon-rotate {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-shop-labels {
	font-size:(502/10)*1rem;
	width:(512/502)*1em;
}
.icon-shopping-bag {
	font-size:(512/10)*1rem;
	width:(440/512)*1em;
}
.icon-shopping-form {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-up-arrow {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-user {
	font-size:(81/10)*1rem;
	width:(80/81)*1em;
}
.icon-vk {
	font-size:(11.434/10)*1rem;
	width:(20/11.434)*1em;
}
.icon-yt {
	font-size:(15.4/10)*1rem;
	width:(20/15.4)*1em;
}
