$accent: #FEC400;
$accent-l: #FECD4D;
$accent-dark: #CC9B38;
$green: #50A744;
$c-green: #009900;
$c-green-h: #006C00;
$c-gray: #DADADA;
$c-gray-h: #919191;
$sect-text: #868584;
$sect-title: #646260;
$text-dark: #414449;
$line-gray: #F0F0F0;
$bg-gray: #FBFBFB;
$link: #1d80d3;
$button: #323338;
$btn-hover: #FECD4D;

$rob-r: 'RobotoRegular', sans-serif;
$rob-m: 'RobotoMedium', sans-serif;
$rob-b: 'RobotoBold', sans-serif;
$rob-bl: 'RobotoBlack', sans-serif;
$rob-l: 'RobotoLight', sans-serif;
$rob-th: 'RobotoThin', sans-serif;
$rubl: 'ALSRubl-Arial', sans-serif;


